.header {
  display: flex;
  align-items: center;
	justify-content: center;
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
}

.tooltip-text {
	top: 100%;
	z-index: 5;
	width: 100px;
}

.tooltip .tooltip-text {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	transition: opacity 0.2s, visibility 0.2s;
	z-index: 1;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

#questionBlock {
	background-color: #ffe9d2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 500px;
	margin: 0 auto;
	border: 1px solid black;
}

#colorBlock {
	width: 5px;
	height: 5px;
	background-color: #14ac00;
	/* 初始顏色，可以自行更改 */
	margin: 0 auto;
	/* 將色塊置中 */
	transition: width 0.5s, height 0.5s;
	border: 1px solid black;
}

.guessValue {
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

.guess {
	cursor: pointer;
}

#widthGuess {
	width: 400px;
	/* 設定寬度滑動條為400像素寬 */
	transition: width 0.25s;
}

#heightGuess {
	width: 400px;
	/* 設定高度滑動條為400像素寬 */
	transition: width 0.25s;
}

#guessContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#guessContainer button {
	right: 12%;
	height: 50px;
	color: rgb(255, 255, 255);
	top: 10px;
	border: none;
	border-radius: 5px 5px 5px 5px;
	width: 50px;
	transition: width 0.5s, border-radius 0.5s;
	cursor: pointer;
}

#guessContainer button:hover {
	border-radius: 25px 25px 25px 25px;
	width: 100px;
}

.dash {
	display: flex; /* 將容器設定為 Flexbox */
	align-items: center; /* 垂直置中 */
	margin-left: 300px;
  padding: 10px;
	width: 40px;
}

.leftBlank {
	display: flex; /* 將容器設定為 Flexbox */
	align-items: center; /* 垂直置中 */
	margin-right: 330px;
  padding: 10px;
	width: 40px;
}

.digit,.dash_title {
	font-size: 1rem;
	width: 20px;
	text-align: center;
	color: #555;
}

.digit {
  margin-right: 5px;
  border-radius: 3px;
  background:#333;
  color:#FFF;
}

#guessBtn {
	display: none;
	background-color: rgb(90, 179, 246);
}

#startBtn {
	background-color: rgb(251, 143, 143);
}

#settlement {
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background-color: rgba(0, 37, 64, 0.95); /* 添加半透明背景以便查看效果 */
	border-radius: 15px 15px 15px 15px;
	display: none;
	/* display: flex; */
  flex-direction: column; /* 由上而下排列 */
  justify-content: center; /* 主軸上置中對齊 */
  align-items: center; /* 交叉軸上置中對齊 */
}

#settlement label, #settlement p, #settlement input, #settlement button {
	color: #ffe9d2;
  margin: 10px; /* 調整元素之間的間距 */
}

#settlement h2 {
	color: #10a100;
	margin: 10px; /* 調整元素之間的間距 */
}

#settlement button {
	color: #391e00;
}

#settlement input {
	color: #000000;
}

.blank {
	visibility: hidden;
}

.fontawesomesvg {
	width: 25px;
	height: 25px;
	margin: 5px;
	cursor: pointer;
	transition: width 0.2s, height 0.2s, margin 0.2s;
}

.fontawesomesvg:hover {
	width: 30px;
	height: 30px;
	margin: 2.5px;
}

#rankPage {
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background-color: rgba(0, 37, 64, 0.95); /* 添加半透明背景以便查看效果 */
	color: #FFF;
	border-radius: 15px 15px 15px 15px;
	display: none;
	/* display: flex; */
  flex-direction: column; /* 由上而下排列 */
  justify-content: center; /* 主軸上置中對齊 */
  align-items: center; /* 交叉軸上置中對齊 */
}

#rankPage table thead tr th{
	width: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

#rankPage #personName{
	width: 150px;
}

.close {
  position: absolute;
  right: 28px;
  top: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
	cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 17px;
  width: 2px;
  background-color: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}